<div class="container">
	<div class="row">
		<h1 class="col-sm-12">Pricing</h1>
		<div class="col-sm-3">
			<h2 class="package_title">100 Bets</h2>
			<div class="package_description">8 Users</div>
			<div class="package_price">$5</div>
			<form action="" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_erBk71RuOqU7HAqdmFbSOllj"
			    data-amount="2000"
			    data-name="Demo Site"
			    data-description="2 widgets ($20.00)"
			    data-image="/128x128.png"
			    data-locale="auto">
			  </script>
			</form>
		</div>
		<div class="col-sm-3">
			<h2 class="package_title">500 Bets</h2>
			<div class="package_description">8 Users</div>
			<div class="package_price">$10</div>
			<form action="" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_erBk71RuOqU7HAqdmFbSOllj"
			    data-amount="2000"
			    data-name="Demo Site"
			    data-description="2 widgets ($20.00)"
			    data-image="/128x128.png"
			    data-locale="auto">
			  </script>
			</form>
		</div>
		<div class="col-sm-3">
			<h2 class="package_title">1000 Bets</h2>
			<div class="package_description">8 Users</div>
			<div class="package_price">$15</div>
			<form action="" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_erBk71RuOqU7HAqdmFbSOllj"
			    data-amount="2000"
			    data-name="Demo Site"
			    data-description="2 widgets ($20.00)"
			    data-image="/128x128.png"
			    data-locale="auto">
			  </script>
			</form>
		</div>
	</div>
</div>